<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AIBrain"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".view.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AIBrain.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.DetalheIAActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.CompararIAsActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.FavoritosActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.AIBrainActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />
        <activity
            android:name=".view.CriarComIAActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.BibliotecaActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.DetalhePromptActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.CriadorPromptsActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.AssistenteIAActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".browser.BrowserActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.IA18Activity"
            android:exported="false"
            android:label="IA +18"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.IA18VerificacaoActivity"
            android:exported="false"
            android:label="Verificação de Idade"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.ColecoesActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.GuiasActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

        <activity
            android:name=".view.ComandosActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />
        <activity
            android:name=".view.PromptsComandosActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />
        <activity
            android:name=".view.ProjetosActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />
        <activity
            android:name=".view.ProjetoDetalheActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />
        <activity
            android:name=".view.ComandoDetalheActivity"
            android:exported="false"
            android:theme="@style/Theme.AIBrain.NoActionBar" />

    </application>

</manifest>
